body{
	background-color: black;
	color: white;
}
.head{
	width: 25%;
	height: 75%;
	margin: auto;
	padding-top: 15%;
	padding-bottom: 25%;
	text-align: center;
}

.but{
	margin: auto;
	padding: 2em;
	padding-bottom: 0em;
	background-color: white;
	border-radius: 4em;
}

#content{
	padding: 8em;
}

.flex{
	display: flex;
}

.flex div{
	padding: .2em;
	margin: 2em;
	text-align: center;
}
